<<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza financí">
    <meta name="keywords" content="Finance, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title> Grafy </title>
</head>

<body>

    <header>
        {% include "navigace.html" %}
    </header>

    <div name="chart" id="chart">
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        // Načtení dat z databáze pomocí AJAX
        fetch('/data').then(response => response.json()).then(data => {
            const labels = data.labels;
            const values = data.data;
    
            // Vytvoření grafu pomocí Chart.js
            const ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Příjmy',
                        data: values,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }).catch(error => {
            console.error('Chyba při načítání dat:', error);
        });
    </script>



    <footer>
        {% include "paticka.html" %}
    </footer>
</body>




</html>