<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza financí">
    <meta name="keywords" content="Finance, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Kurzy </title>
</head>

<body>

    <header>
        {% include "navigace.html" %}
    </header>
        <h1> Kurzy </h1>
        <table>
            <tr> 
                <th> Měna</th>
                <th> CZK </th>
            </tr>
            <tr>
                <td>USD</td>
                <td>{{usd_rate}}</td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>{{eur_rate}}</td>
            </tr>
            <tr>
                <td>GBP</td>
                <td>{{gbp_rate}}</td>
            </tr>
        </table>

        <div name="chart" id="chart">
            <canvas id="kurzy_eur_chart" name="kurzy_eur_chart"></canvas>
            <canvas id="kurzy_usd_chart" name="kurzy_usd_chart"></canvas>
            <canvas id="kurzy_gbp_chart" name="kurzy_gbp_chart"></canvas>
            <canvas id="btc_line_chart" name="btc_line_chart"></canvas>
            <canvas id="shiba_line_chart" name="btc_line_chart"></canvas>
            <canvas id="doge_line_chart" name="btc_line_chart"></canvas>
        </div>
    
        <script src="static/js/kurzy.js"></script>
</body>




</html>