<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/styles.css">
</head>

<body>
    <ul>
        {% if not session_id %}
        <li><a href="registrace"><img src="obrazky/registrace.png" alt="Registrace" {% if request.path == '/registrace' %}class="active"{% endif %}></a></li>
        <li><a href="prihlaseni"><img src="obrazky/prihlaseni.png" alt="Prihlaseni" {% if request.path == '/prihlaseni' %}class="active"{% endif %}></a></li>
        {% elif session_id %}
        <li><a href="prijmy"><img src="obrazky/prijmy.png" alt="Příjmy" {% if request.path == '/prijmy' %}class="active"{% endif %}></a></li>
        <li><a href="vydaje"><img src="obrazky/vydaje.png" alt="Výdaje" {% if request.path == '/vydaje' %}class="active"{% endif %}></a></li>
        <li><a href="souhrn"><img src="obrazky/souhrn.png" alt="Souhrn" {% if request.path == '/souhrn' %}class="active"{% endif %}></a></li>
        <li><a href="kurzy"><img src="obrazky/kurzy.png" alt="Kurzy" {% if request.path == '/kurzy' %}class="active"{% endif %}></a></li>
        <li><a href="odhlaseni"><img src="obrazky/odhlasit.png" alt="Odhlásit" {% if request.path == '/odhlasit' %}class="active"{% endif %}></a></li>
        {% endif %}
    </ul>    
    <hr> 
</body>




</html>