<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza financí">
    <meta name="keywords" content="Finance, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/js/info.js"></script>
    <script src="static/js/prijmy.js"></script>
    <title> Příjmy </title>
</head>

<body>

    <header>
        {% include "navigace.html" %}
    </header>
    <div id="chart-container">
        <div class="input_form" name="input_form" id="input_form">
            <form method="post" action="/prijmy">
                {% if success_mess %}
                <p style="color: green;">{{ success_mess }}</p>
                {% endif %}
                {% if error_mess %}
                <p style="color: red;">{{ error_mess }}</p>
                {% endif %}
                <label for="prijem_input"> Příjem:</label>
                <input type="number" name="prijem_input" id="prijem_input" placeholder="123456" required min="0.1" max="10000000" step="any">
                <div class="tooltip">
                    <span id="info" class="icon">&#128712;</span>
                    <span class="tooltiptext">Zde je nutno zadat kladné hodnoty!</span>
                </div>
                <label for="mena">Měna:</label>
                <select name="mena" id="mena" required>
                    {% for value in meny %}
                    <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <div class="tooltip">
                    <span id="info" class="icon">&#128712;</span>
                    <span class="tooltiptext">Měna bude převedena na CZK!</span>
                </div>
                <br>
                <label for="datum_input">Datum:</label>
                <input type="date" name="datum_input" id="datum_input" required>
                <div class="tooltip">
                    <span id="info" class="icon">&#128712;</span>
                    <span class="tooltiptext">Zde je nutno zadat maximálně aktuální datum!</span>
                </div>
                <label for="cas_input">Čas:</label>
                <input type="time" name="cas_input" id="cas_input" required>
                <br>
                <label for="kategorie"> Kategorie:</label>
                <select id="kategorie" name="kategorie">
                    {% for value in kategorie %}
                    <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="submit" name="prijmy_submit" id="prijmy_submit" value="Potvrdit">
            </form>
        </div>

        <div id="side_button">
            <button class="big-button" onclick="window.location.href='/tabulka_prijmy';">Tabulka</button>
        </div>
    
        <div name="chart1" id="chart1">
            <canvas id="prijmy_pie_ccy" name="prijmy_pie_ccy"></canvas>
        </div>
    </div>

    <div name="chart" id="chart">
        <canvas id="myChart" name="myChart"></canvas>
        <canvas id="myChart2" name="myChart2"></canvas>
        <canvas id="myChart3", name="myChart3"></canvas>
    </div>


</body>




</html>