<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza financí">
    <meta name="keywords" content="Finance, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Souhrn </title>
</head>

<body>

    <header>
        {% include "navigace.html" %}
    </header>

    <div name="chart" id="chart">
        <canvas id="souhrn_line_chart" name="souhrn_line_chart"></canvas>
        <canvas id="souhrn_bar_chart" name="souhrn_bar_chart"></canvas>
    </div>

    <script src="static/js/souhrn.js"></script>


</body>




</html>