<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Analýza financí">
    <meta name="keywords" content="Finance, analýza, grafy">
    <meta name="author" content="Tomáš Ulrich">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title> Výdaje </title>
</head>

<body>

    <header>
        {% include "navigace.html" %}
    </header>
    <div class="input_form" name="input_form" id="input_form">
        <form method="post" action="/vydaje">
            {% if success_mess %}
            <p style="color: green;">{{ success_mess }}</p>
            {% endif %}
            <label for="vydaj_input"> Výdaj:</label>
            <input type="number" name="vydaj_input" id="vydaj_input" placeholder="123456" required maxlength="10" min="1">
            <label for="mena">Měna:</label>
            <select name="mena" id="mena" required>
                {% for value in meny %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="datum_input">Datum:</label>
            <input type="date" name="datum_input" id="datum_input" required>
            <label for="cas_input">Čas:</label>
            <input type="time" name="cas_input" id="cas_input" required>
            <br>
            <label for="kategorie"> Kategorie:</label>
            <select id="kategorie" name="kategorie">
                {% for value in kategorie %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" name="vydaj_submit" id="vydaj_submit" value="Potvrdit">
        </form>
    </div>

    <div name="chart" id="chart">
        <canvas id="myChart" name="myChart"></canvas>
        <canvas id="myChart2" name="myChart2"></canvas>
        <canvas id="myChart3", name="myChart3"></canvas>
    </div>

    <script src="static/js/vydaje.js"></script>

</body>




</html>