/* Zde zapisujeme css pro body */
body{
    font-family: cursive;
    background-color: rgba(0, 0, 0, 0.897);
    color: aliceblue;
}

h1{
    text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-left: 25%;
}

/* Styling for table header (záhlaví) */
th {
    background-color: #ffffff; /* pozadí */
    color: #333; /* barva textu */
    padding: 8px; /* odsazení vnitřního okraje */
    text-align: left; /* zarovnání textu vlevo */
    border-bottom: 1px solid #ddd; /* spodní ohraničení */
}

/* Styling for table cells (buněk) */
td {
    padding: 8px; /* odsazení vnitřního okraje */
    text-align: left; /* zarovnání textu vlevo */
    border-bottom: 1px solid #ddd; /* spodní ohraničení */
}

/* Zde zapisujeme css pro footer */
footer{
    text-align: center;
    margin-top: 90%;
}



/* Zde zapisujeme css pro header */
header{
    text-align: center;
}

header a{
    color: aliceblue;
    margin: 5%;
    text-decoration: none;
    text-shadow: 5px 3px 10px;
}